body {
  background-color: black
}

.cta-container{ 
  display: flex;
  background-color: hsl(218, 28%, 15%);
}

.cta-text {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
}

.cta-button {
  background-color: hsl(198, 60%, 50% );  
  font-weight: 700;
  padding: 20px;
  border-radius: 20px;
}